<h1>My profile</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>email:</strong>
  <%= @user.email %>
</p>

<h2>My stories</h2>
<%= render 'shared/story_grid', stories: @stories %>

<%= link_to 'Back', root_path %>